<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Tsundoku </title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <div class="page-container">

      <div class='cover-the-page'></div>

      <div class='account-modal'>
        <i class="fa fa-times fa-1x"></i>
        <div class='account-modal-wrapper'>
          <div class="account login-section">
            <div class='account-header login-section-header'>Log In</div>
            <form class="" action="/auth" method="post">
              <input class='login-area' type="text" name="user[username]" value="" placeholder="Username" autocomplete="off" required="required"> <br>
              <input class='login-area' type="password" name="user[password]" value="" placeholder="Password" autocomplete="off" required="required"> <br>
              <input class='login-area login-button' type="submit" name="name" value="Log in">
            </form>
          </div>
          <div class="account create-section">
            <div class='account-header create-section-header'>Create New Account</div>
            <form class="" action="/users" method="post">
              <input class='login-area' type="text" name="user[username]" value="" placeholder="Username *" autocomplete="off" required="required" autofocus> <br>
              <input class='login-area' type="email" name="user[email]" value="" placeholder="Email" autocomplete="off"> <br>
              <input class='login-area login-password' type="password" name="user[password]" value="" placeholder="Password *" autocomplete="off" required="required"> <br>
              <input class='login-area login-confirmpassword' type="password" name='user[confirmpassword]' value="" placeholder="Confirm Password *" autocomplete="off" required="required"> <br>
              <div class='required-text'>* = required</div>
              <input class='login-area login-button' type="submit" value="Sign up">
            </form>
          </div>
        </div> <!-- account-modal-wrapper -->
      </div> <!-- account-modal -->


      <div class="header-container">
        <a href='/'><div class="main-header">TSUNDOKU</div></a>  <span class='sub-header'>(n.) The condition of acquiring reading materials but letting them pile up in one's home without reading them.</span>
        <nav class="dropdown-menu"><i class="fa fa-user fa-3x"></i>
          <div class="dropdown-content">
            <div class='dropdown-content-button'>Create Account</div>
            <div class='dropdown-content-button'>Log In</div>
            <div class='dropdown-content-button'>View Profile</div>
          </div>
        </nav> <!-- dropdown-menu -->
      </div> <!-- header-container -->

      <div class="content-area-container">
        <div class="content-area">
          <div class="content-area-header">Search for a book you <i>want</i> to read <br> but <i>probably</i> won't</div>
          <form action="/search" method="GET">
            <input class='input-area' type="text" name="search" placeholder="Search for a title or author" autocomplete="off" required="required"> <br>
          </form>
        </div> <!--content-area -->
      </div> <!-- content-area-container -->

      <div class="footer"><a href='http://github.com/iSyn'>Made with <span class='heart'>&hearts;</span> by Synclair Wang</a></div>

    </div> <!-- page-container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="scripts.js"></script>

  </body>

</html>
