<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Tsundoku </title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  </head>

  <body>
    <div class="page-container">
      <div class='page-container-cover'></div>
      <div class='cover-page'></div>
      <div class="header-container">
        <a href='/users/home'><div class="main-header">TSUNDOKU</div></a> <span class='sub-header'>(n.) The condition of acquiring reading materials but letting them pile up in one's home without reading them.</span>
        <nav class="dropdown-menu"><i class="fa fa-user fa-3x"></i>
          <div class="dropdown-content">
            <div class='accounts-button'><a href='/users/profile'>View Profile</a></div>
            <form action="/auth?_method=DELETE" method="post">
              <input class='log-out-button' type="submit" value="Log Out">
            </form>
          </div>
        </nav> <!-- dropdown-menu -->
      </div> <!-- header-container -->

      <div class="content-area-container">
        <div class="content-area">
          <div class='welcome-message'><span class='name'><%= user.username %></span> <br> <%= greeting %> </div>
          <div class="content-area-header">Search for a book you <i>want</i> to read <br> but <i>probably</i> won't</div>
          <form action="/search" method="get">
            <input class='input-area' type="text" name="search" placeholder="Search for a title or author" autocomplete="off" required="required"> <br>
            <input class='search-book-button' type="submit" value="Search Book">
          </form>
        </div>
      </div> <!-- content-area-container -->

      <div class="footer">&copy Synclair Wang 2016</div>

    </div> <!-- page-container -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="../scripts.js"></script>

  </body>

</html>
